:root {
  --bg-color: aquamarine;
  --sans-one: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --mono-one: "Inconsolata", monospace;
  --font-main: 1rem/1.5 var(--sans-one);
  --stroke-style: blue;
  --div-one-color: red;
  --div-two-color: green;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: var(--font-main);
}

header {
  grid-column: span 10;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  margin-bottom: 5px;
}

header>span:first-of-type {
  font: 700 small-caps 1.2rem/1.2em var(--sans-one);
}

header>span:nth-of-type(2) {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header>span:nth-of-type(2) * {
  font-size: 0.9rem;
  font-family: var(--sans-one);
}

header>span:nth-of-type(2) label {
  margin-right: 1vw;
}

div.container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto auto auto auto auto;
  width: 100vw;
  min-height: 50vh;
  border: 2px solid #eee;
  margin: 2px 10px;
}

main {
  grid-column: span 10;
  font: var(--font-main);
  counter-reset: table-counter;
  /* margin-left: 5%; */
}

main ul {
  list-style-type: none;
}

nav {
  grid-column: span 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#open_all,
#close_all,
#close_all_two,
#open_all_two {
  font-size: 0.8rem;
  font-family: var(--sans-one);
}

.item-one>#open_all>.triangle_icon,
.item-three>#close_all>.triangle_icon,
.item-one>#close_all_two>.triangle_icon,
.item-three>#open_all_two>.triangle_icon {
  opacity: 0;
  display: inline;
  color: tomato;
  font-size: 0.9em;
  transition: opacity 0.5s ease-in;
}

.item-one>#open_all:hover>.triangle_icon,
.item-three>#close_all:hover>.triangle_icon,
.item-one>#close_all_two:hover>.triangle_icon,
.item-three>#open_all_two:hover>.triangle_icon {
  opacity: 1;
  color: tomato;
}

.item-one>#close_all_two {
  display: none;
}

.item-three>#open_all_two {
  display: none;
}

div.syntax {
  grid-column: span 10;
}

div.examples {
  grid-column: span 10;
}

code,
pre {
  font-family: var(--mono-one);
  font-size: 0.95rem;
  color: maroon;
}

div.notes {
  grid-column: span 10;
}

footer {
  grid-column: span 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer>span {
  font-family: var(--mono-one);
  font-size: 0.8rem;
  color: maroon;
}

details {
  margin-left: 10px;
}

details>summary {
  font-size: 0.9rem;
}

q {
  font: 0.9rem var(--sans-one);
}

details>p {
  padding: 2px 5px 2px 10px;
  font-size: 1rem;
  margin-left: 4vw;
  /* font:var(--sans-one); */
}

details p {
  font-size: 1rem;
  font-family: -sans-one;
  color: black;
}

em {
  font-size: inherit;
  font-style: italic;
}

details>ol {
  padding: 2px 5px 2px 10px;
  list-style-position: outside;
}

details>ol>li {
  padding-left: 10px;
  font-size: 1rem;
}

details>ol {
  margin-left: 4vw;
}

code span.highlight {
  font-family: var(--mono-one);
  display: inline-block;
  padding: 2px;
  font-size: 1rem;
  background-color: orange;
}

button {
  background-color: white;
  padding: 0 1rem;
  border: none;
}

button:hover {
  color: tomato;
}

.counter {
  font-size: 1rem;
  color: maroon;
}

.bold {
  font-weight: bold;
}

dt {
  font-size: 0.9rem;
  font-style: italic;
}

dd {
  padding-left: 2vw;
  font-size: 0.9rem;
}

.attr_as_content::after {
  content: attr(href);
}

video {
  width: 100%;
  height: auto;
}

.video-container {
  width: 60vw;
  max-width: 500px;
  margin: auto;
}

::cue {
  color: white;
  background-color: blue;
  font-size: 1rem;
}

a {
  font-size: 0.9rem;
  text-decoration: none;
}


blockquote {
  font-size: 0.8rem;
}

.table-template {
  table-layout: fixed;
  margin: auto;
  empty-cells: hide;
  margin-top: 1rem;
  border-collapse: collapse;
  caption-side: bottom;
}

.table-template td {
  border: 1px solid lightblue;
  padding: 0.2em 1em 0.2em 1em;
}

.table-template caption {
  font-size: 1rem;
  background-color: lightcyan;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  counter-increment: table-counter;
}

.table-template caption span:before {
  content: '('counter(table-counter) ')';
}


.table-template tr:hover {
  background-color: #f5f5f5;
}

.table-template tfoot {
  margin-top: 4rem;
}

.table-template tfoot {
  border: 10px solid white;
}

.table-template tfoot tr {
  background-color: antiquewhite;
}

.table-template tbody tr {
  counter-increment: item-counter;
}

.table-template tbody td:first-of-type::before {
  content: counter(item-counter);
}

.table-template td[rowspan="9"] {
  vertical-align: top;
}

dd>ul>li, dd>ol>li{
  margin-left: 2em;
}


#xkcd {

  display:block;
  margin-right:auto;
  margin-left:auto;
  margin-top: 2em;
  width: 50%;
}

.embed-pdf-alt {
  margin-top: 4em;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-bottom: 4em;
}

.embed-pdf {
  display:none;
}

.anchor-one-alt {
  display:none;
}



.tab {
  display: inline-block;
  margin-left: 2em;
}

.tab2 {
  display: inline-block;
  margin-right: 2em;
}

.strikethru {
  text-decoration: line-through;
}

sup {
  font-size: smaller;
}

.metachars {
  margin-left: 2em;
}

@font-face {
  font-family: 'apl';
  src: url('/font/APL386.ttf') format("truetype");
}

@media screen and (min-width:600px) {

  main,
  nav,
  div.syntax,
  div.examples,
  div.notes,
  footer {
    grid-column: 2 / span 8;
  }

  .container-overflow {
    margin: 1rem auto;
    width: 80%;
    counter-reset: table-counter;
  }


  form {
    max-width: 65vw;
    margin-left: auto;
    margin-right: auto;
  }

}

@media screen and (min-width:700px) {

  form {
    max-width: 55vw;
    margin-left: auto;
    margin-right: auto;
  }
}
